/* RGB */
$color1: rgba(30, 30, 30, 1);
$color2: rgba(123, 175, 5, 1);
$color3: rgba(233, 236, 229, 1);
$color4: rgba(51, 51, 51, 1);
$color5: rgba(100, 148, 170, 1);

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $color3;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    margin-top: 50vh;
    transform: translateY(-50%);
}

img {
    align-content: center;
    padding-bottom: 25px;
}

h1 {
    font-family: 'Comfortaa', cursive;
   
}
#location{
    padding: 10px;
}
a{
    text-decoration: none;
    text-align: center;
    vertical-align: center;
}
i{
    padding: 14px;
    background: $color4;
    color: $color2;
    height: 48px;
    width: 48px;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}